html, body {
  height: 100%;
  color: #fff;
  background: #1060c9;
  background: -moz-linear-gradient(left,  #1060c9 0%, #40a9ef 100%);
  background: -webkit-linear-gradient(left,  #1060c9 0%,#40a9ef 100%);
  background: linear-gradient(to right,  #1060c9 0%,#40a9ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1060c9', endColorstr='#40a9ef',GradientType=1 );
}

nav {
  background-color: #cfd8dc;
}

img.logo-image {
  height: 58px;
}

@media only screen and (min-width: 601px) {
  img.logo-image {
    height: 66px;
  }
}

.checkColor {
  color: #fff;
}

.cardProfile {
  display: inline-block;
  width: 30vw;
  margin: 15px 1vw;
  color: #fff;
  border-radius: 5px;
  background-color: #09ba00;
}

.cardProfileOn {
  display: inline-block;
  width: 30vw;
  margin: 15px 1vw;
  border-radius: 5px;
  background-color: #fff;
}

.boxProfile {
  display: flex;
  font-size: 30px;
}

.iconBox {
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.typeSelect {
  display: grid;
  grid-template-columns: 1.0fr 1.0fr;
}

.wizardInfo {
  padding: 15px 2vw 0 2vw;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.wizardInfoA {
  padding: 30px 2vw 0 2vw;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.wizardInfo img {
  max-width: 70%;
}

.wizardInfo::-webkit-scrollbar {
  display: none;
}

.textBlack{
  color: #000;
}

.loginBox {
    margin: 0 auto;
    max-width: 720px;
    width: 90%;
}

.settingBoard {
     background: #fff;
     color:#000;
     width: 100%;
     height: calc(100% - 64px);
     display:grid;
     grid-template-columns: 1.0fr 3.5fr ;
}

.settingInfo {
    background: #fff;
    padding: 15px 10vw 0;
}

.settingList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style:none;
}

.settingList.collection {
        margin: 0 0 0 0;
}

.settingList::-webkit-scrollbar{
    display:none;
}

.infoName {
   margin: 10px;
}
